*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}




/*demas*/

body
{
    background: #464646;
    font-family: 'calibri';
}
.img1
{
    width: 110px;
    height: 70px;
    float: left;
    border-radius: 20px;
    padding: 8px;
}
.menu
{
    width: 900px;
    margin: auto;
}
header
{
    background: #4d64e4;
    width: 100%;
    justify-content: center;
    clear: both;
    content: '';
    display: table;
}
nav
{
    float: left;
}

nav ul li
{
list-style: none;
margin-left: 60px;
padding: 19px 0;
float: left;
position: relative;
}

nav ul li a
{
    text-decoration: none;
    content: '';
    color: white;
    padding: 10px;
    border-radius: 10px;
    background: #4255c4;
    font-weight: bold;

}


nav ul li a::before
{
    display: block;
    border-radius: 10px;
    content: '';
    width: 0%;
    background: rgb(206, 53, 53) ;
    height: 10px;
    top: 0;
    position: absolute;
    transition: width 0.2s;
}

nav ul li a:hover::before
{
    width: 100%;
}

.contenido
{
    height: 30px;
    color: white;
    display: flex;
    justify-content: center;
    background: #ac0707;
}

.img2
{
    width: 75px;
    height: 75px;
    float: right;
    padding: 8px 0;
}

.cont1
{
  text-align: center;
}

.btn1
{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: #141414;
    color: #fff;
    width: 150px;
    border: none;
    cursor: pointer;
    height: 40px;
    font-size: 20px;
    border-radius: 30px;
    font-family: 'Roboto' sans-serif;
    text-transform: uppercase;
    transition: .5s ease all;
    position: relative;
    overflow: hidden;
}

.btn1 span
{
    position: relative;
    z-index: 2;
    transition: .3s ease all;
}

.btn1::after
{
    content: '';
    justify-content: center;
    width: 1px;
    height: 1px ;
    background: none;
    position: absolute;
    z-index: 1;   
    top: 60%;
    left: 60%;
    transition: .5s ease-in-out;
    border-radius: 100px;
    transform-origin: center;
}

.btn1:hover::after
{
   transform: scale(300);
   background: rgb(113, 226, 113);
}

/*REDES SOCIALES*/

.redes1
{
    background: rgb(68, 151, 219);
    text-align: center;
}

.r1
{
    justify-content: center;
    background: #5d7ee0;
    border-radius: 10px;
    text-align: center;
    width: 500px;
    height: 25px;
    margin: auto;
    margin-left: 20px;
}

.r2
{
    margin: auto;
    margin-left: 20px;
    list-style: none;
    display: table;
    text-align: center;
    border-radius: 10px;
    background: #303b5a;
    width: 500px;
    height: 500px;
}

.r3
{
    float: right;
    margin: auto;
    margin-right: 20px;
    margin-top: -596px;
    justify-content: center;
    background: #5d7ee0;
    border-radius: 10px;
    text-align: center;
    width: 500px;
    height: 25px;
}

.r4
{
    float: right;
    margin-right: 20px;
    margin-top: -570px;
    clear: both;
    list-style: none;
    display: table;
    text-align: center;
    border-radius: 10px;
    background: #303b5a;
    width: 500px;
    height: 500px;
}

.img3
{
    height: 50px;
    width: 50px;
    border-radius: 20px;
}

/*INICIO*/

.inicio1
{
    text-align: center;
    background: rgb(31, 192, 31);
}

.co1
{
    text-align: center;
    background: rgb(189, 192, 31);
}

/* PIE DE PAGINA*/


.pdp2
{
    background: #141414;
}

.pdp3
{
    text-align: center;
    background: #4060c0;  
}

.pdp4
{
    text-align: center;
    padding: 35px;
    background: #235686;  
}




